*{
    box-sizing: border-box;
}

.Container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
}

.chatContainer{
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 5px;
}

.chatContainer > .chatHeader{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    background: white;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.chatContainer > .chatHeader h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #333;
}

.chatContainer > .messages{
    margin-right: 1px;
    height: 415px;
    border-bottom: 1px solid gray;
    overflow-y: scroll;
    margin-top: 1px;
}

.chatContainer > .chatBottom form input#text{
    width: 360px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 4px;
}

.chatContainer > .chatBottom form input{
    width: 60px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}

.chatContainer > .chatBottom form input.back{
    width: 60px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}