<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        <!---Hallo dies ist ein Kommentar-->
        <div class="Container">
            <div class="chatContainer">
                <div class="chatHeader">
                    <h3>Welcome to the chat!</h3>
                </div>
                <div class="messages" id="send"></div>
                <div class="chatBottom">
                    <form action="chat" id="chat">
                    <input type="hidden" id="name">
                        <input type="text" name="text" id="text" placeholder=" Type your Message here">
                        <input type="submit" name="submit" value="Send" id="send">
                        <a href="index">
                            <input type="button" name="back" value="Back" class="back">
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>