<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include("../partials/head") %>
    </head>
    </body>
        <div class="login">
            <form action="chat" id="formmessage" method="post">
                <h2 class="title">Welcome</h2>
                <div class="user">
                    <h5>Username:</h5>
                    <input type="text" id="user" class="input" placeholder=" Type your username here">
                </div>
                <div class="room">
                    <h5>Choose chat room:</h5>
                    <label for="room1btn">Room 1</label>
                    <input type="radio" class="choose" name="rooms" id="room1btn">
                    <label for="room2btn">Room 2</label>
                    <input type="radio" class="choose" name="rooms" id="room2btn">
                </div>
                <a href="chat">
                <input class="button" id="submit" type="button" value="Login"/>
            </a>
            </form>
        </div>
        </div>
    </body>
</html>