<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include("../partials/head") %>
    </head>
    </body>
        <div class="login">
            <form action="form" id="formmessage">
                <h2 class="title">Welcome</h2>
                <div class="user">
                    <h5>Username:</h5>
                    <input type="text" id="text" class="input" placeholder=" Type your username here">
                </div>
                <div class="room">
                    <h5>Choose chat room:</h5>
                    <label for="choose">Room 1</label>
                    <input type="radio" class="choose" name="rooms" id="room1">
                    <label for="choose2">Room 2</label>
                    <input type="radio" class="choose2" name="rooms" id="room2">
                </div>
                <a href="chat">
                <input class="button" id="submit" type="button" value="Login"/>
            </a>
            </form>
        </div>
        </div>
    </body>
</html>